@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");


// Set your brand colors
$beige-light: #D0D1CD;
$beige-lighter: #FCFBFC;
$white-choco: #fdfbd4;
$dark-choco: #765D69;
$green-pastel: #8CD9AA;
$green-leaf: #CADBB7;
$red-pastel: #fcd0ba;
$orange: #ffb67d;
$purple: #8A4D76;
$pink: #FA7C91;
$black-dark: #585858;
$new-dark: #00133C;

// My new Color
$blue_pastel: #cffff1;
$orange_pastel:#ffe797;
$violet_pastel:#9999fb;
$red_milk:#ff96bd;
$yellow_paste:#ffb457;

// Update Bulma's global variables
$family-sans-serif: "Fira Sans", sans-serif;
$family-secondary: 'Press Start 2P', cursive;
$grey-light: $beige-light;

// Update bulma global var
$primary: $green-pastel;
$primary-invert: $white-choco;
$link: $beige-lighter;
$link-invert: $dark-choco;
$danger: $pink;
$success: $green-leaf;
$warning: $red-pastel;
$dark: $black-dark;

// Add bulma var
.is-orange {
    background-color: $orange_pastel !important;
}
.is-blue-pastel {
    background-color: $blue_pastel;
}
.is-red-milk {
    background-color: $red_milk !important;
}
.has-text-orange {
    color: $orange !important;
}
.has-text-violet {
  color: $violet_pastel !important;
}

// vueTyper
.custom.char {
    color: $orange !important;
}
.custom.caret {
    background-color:$orange !important;
}


 // body-background
#main-frame {
  background-color: $green-pastel;
  width: 100%;
  height:100vh;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 200ms;
  -moz-transition-property: background-color;
  -mmoz-transition-duration: 200ms;
  transition-property: background-color;
  transition-duration: 200ms;
}

// About
// #about {
//     background-color:$violet_pastel;
// }

//vueTyper
.vue-typer .custom.caret {
  width: 10px;
  background-color: $new-dark;
}
.vue-typer .custom.char.typed {
    color: $new-dark;
}
.vue-typer .custom.char.selected {
  color: $new-dark;
}

// About page
.is-border-white {
  border-color: #fff !important;
}
.border-thick {
  border: 10px solid;
}
.rounded-lg {
  border-radius: 15px;
}

// Preloader Animation

.loading_bg {
    position: fixed;
    z-index: 999999;
    background: $black-dark;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    transition-delay: 6s;
    // transition-duration: 5s;
    // transition: opacity 5s ease;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-finish {
    opacity: 0;
    visibility:hidden;
    pointer-event: none;
}
.text {
    font-size: 35px;
    font-weight: 180;
    text-align: center;
    color: $pink;
    margin-bottom: 20px;
}
.add {
    animation: animate .7s ease-in-out .1s;
}
@keyframes animate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
.progress-bar {
    width: 406px;
    height: 22px;
    background: $green-leaf;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}
.progress {
    width: 203px;
    height: 16px;
    background: $new-dark;
    border-radius: 13px;
}
.percent {
    position: absolute;
    left: 187px;
    color: $pink;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
}

// Articles Blog Homepage
h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: #765d69;
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.3333333;
}
h2 {
  font-family: "Press Start 2P", cursive;
  color: #fcd0ba;
  font-size: 1em;
  font-weight: 450;
  margin-bottom: 15px;
}
// .home-page {
//   padding: 50px 30px;
// }
.articles {
  margin: 0 auto;
  max-width: 800px;
}
.article {
  margin-bottom: 15px;
}
p {
  color: #888;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 1.25em;
}

//Sidebar
#sidebar {
    height: 100%;
		position: fixed;
		background-color: $pink;
		width: 300px;
		transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
		transform: translateX(-100%);
		left: 60px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    display: flex;
    flex-direction: column;
    z-index:100;
}
#sidebar.expanded {
    transform: translateX(0%);
    left: 0px;
}
.menu-inner {
    width: 100%;
		height: 100%;
		position: relative;
}
#blob {
    top: 0;
		z-index: -1;
		right: 60px;
		transform: translateX(100%);
		height: 100%;
		position: absolute;
}
#blob-path {
    height: 100%;
		fill: $pink;
}
.hamburger {
    right: 20px;
		position: absolute;
		width: 20px;
		height: 20px;
		margin-top: -10px;	
    z-index:100;
}
.hamburger .line {
    width: 100%;
		height: 4px;
		background-color: $black-dark;
		position: absolute;
}
.hamburger .line:nth-child(2) {
    top: 50%;
		margin-top: -2px;
}
.hamburger .line:nth-child(3) {
		bottom: 0;
}
.menu-list a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px 0;

}

// Banner-Homepage
.banner {
    margin-top: 10rem;
    background: #eaeaea;
    border-radius: 10px;
    z-index:100;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.banner-content {
    padding: 100px;
}

.banner-content {
    border-right: 5px solid var(--background);
}

// Buttons Transparent background
.is-transparent {
    background-color: transparent !important;
    color: $black-dark !important;
}

// borderless lines
.is-borderless {
    border-color: transparent !important;
}

// Animated Background
*{
    margin: 0px;
    padding: 0px;
}
.animated-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.animated-background li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: white;
    animation: blocks 25s linear infinite;
    bottom: -150px;
    
}
.animated-background li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.animated-background li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.animated-background li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.animated-background li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.animated-background li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.animated-background li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.animated-background li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.animated-background li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.animated-background li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.animated-background li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes blocks {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

// Footer
// Update some of Bulma's component variables
// $input-border-color: transparent;


// Import only what you need from Bulma and Buefy
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "animate.css";
