<template>

  <!-- Animated Background Start -->
  <div>
    <ul class="animated-background">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div >
  <!-- Animated Background End -->

</template>
