<template>

  <!-- Page Loader Start -->
  <div v-if="loading" class="loading_bg">
    <div class="loading is-family-secondary">
      <div class="text">Connecting</div>
        <label class="percent">0%</label>
        <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
  </div>
  <!-- Page Loader End -->

</template>

<script>
export default {
  data: () => ({
    loading: false,
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    },
  },
}
</script>
