<template>

  <!-- Sidebar Start -->
  <div id="sidebar" class="is-hidden-touch">
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="block">
      <img src="~assets/img/logo.png" alt="Welcome to my Portofolio Brother!" />
    </div>
    <div class="menu-inner">
      <b-menu class="is-custom-mobile">
        <b-menu-list label="Menu">
          <b-button tag="router-link" to="/" type="is-transparent is-borderless" icon-left="home" class="is-family-secondary has-text-left" @click.native="homeBackground">Home</b-button>
          <b-button tag="router-link" to="/about" type="is-transparent is-borderless" icon-left="account" class="is-family-secondary has-text-left" @click.native="aboutBackground">About</b-button>
          <b-button tag="router-link" to="/project" type="is-transparent is-borderless" icon-left="source-branch" class="is-family-secondary has-text-left" @click.native="projectBackground">Project</b-button>
          <b-button tag="router-link" to="/blog" type="is-transparent is-borderless" icon-left="blogger" class="is-family-secondary has-text-left" @click.native="blogBackground">Blog</b-button>
          <b-button tag="router-link" to="/contact" type="is-transparent is-borderless" icon-left="contacts" class="is-family-secondary has-text-left" @click.native="contactBackground">Contact</b-button>
        </b-menu-list>
      </b-menu>
    </div>
    <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
    </svg>
  </div>
  <!-- Sidebar End -->

</template>

<script>
export default {
  methods: {
    homeBackground(){
      var x = document.getElementById("main-frame");
      x.style.backgroundColor = "#8CD9AA";
    },
    aboutBackground() {
      var x = document.getElementById("main-frame");
      x.style.backgroundColor = "#9999fb";
    },
    projectBackground() {
      var x = document.getElementById("main-frame");
      x.style.backgroundColor = "#ffe797";
    },
    blogBackground(){
      var x = document.getElementById("main-frame");
      x.style.backgroundColor = "#cffff1";
    },
    contactBackground(){
      var x = document.getElementById("main-frame");
      x.style.backgroundColor = "#759FD5";
    },
  },
}
</script>
