<template>
  <!-- start-Here -->
  <div id="main-frame">

    <!-- Animated-Background -->
    <AnimatedBackground />

    <!-- Sidebar -->
    <SideBar />

    <!-- Mobile sidebar -->

    <!-- Content section: -->
    <section class="section">

      <!-- Content Pages -->
      <nuxt />

    </section>
  </div>
</template>
