<template>
  <div class="home-page">
    <article>
      <b-button type="is-primary" inverted outlined>
        <nuxt-link :to="{ path: '/blog' }" class="is-size-7 is-family-secondary"><- back to list</nuxt-link>
      </b-button>
      <br />
      <nuxt-content :document="article" />
    </article>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const article = await $content("blog", params.slug).fetch();
    return { article };
  },
  methods: {
    tableOfContentsHeadingClick(link) {
      this.currentlyActiveToc = link.id;
    },
  },
  layout: "main-frame",
};
</script>

<style>
</style>
