<template>

  <!-- About Section: Start -->
  <div class="container -is-widescreen has-text-centered">
    <div class="columns">
      <div class="column">

      <!-- title AboutMe: Start-->
        <h2 class="title has-text-dark is-family-secondary has-text-centered">About Me</h2>

        <!-- Card Section: Start -->
        <section class="section">
          <div class="card card-shadow">

            <!-- Card Header Tittle: Start -->
            <header class="card-header">
              <h1 class="card-header-title">Personal Social Card</h1>
            </header>
            <!-- Card Header Tittle: End -->

            <!-- Card Content: Start -->
            <div class="card-content">
              <div class="media">
                <div class="media-left">

                  <!-- Image Frame Media: Start -->
                  <figure class="image is-256x256">
                    <img class="is-rounded" src="~assets/img/avatar.png" alt="Placeholder image">
                  </figure>
                  <!-- Image Frame Media: End -->

                </div>

                <!-- Main  Media Content: Start -->
                <div class="media-content">
                  <p class="title is-1 has-text-left is-family-secondary">Anas Ramadhan</p>
                  <p class="subtitle is-4 has-text-left is-family-secondary">@AnasR7</p>
                  <div class="content">
                    <p class="has-text-left is-family-secondary content is-small">
                    My name is <b class="has-text-danger">Anas Ramadhan</b>. I'm a 26 year old Web Developer from Jakarta who enjoys solving problems with code.<br>
                    I specialize in full-stack development with a strong desire to create scalable applications. Experience in building websites for small and medium-sized businesses, and also I love contributing to open-source like Linux and BSD by focusing on Linux/BSD Administration Installation,
                    Configuration, Tuning, and Upgrades the system.<br>  
                    My first website project was my personal website CMS(Content Management System) using Django and BulmaCSS and it was called anas-ramadhan.com but I didn't continue with the first project because there were several other projects.<br>
                    I had to work on it for college purposes such as making a Linux distribution. And this website is a continuation of my first project but only Frontend MockUp using NuxtJS & GitLab Pages for hosting.<br>
                    </p>
                  </div>
                </div>
                <!-- Main Media Content: End -->

              </div>

            </div>
            <!-- Card Content: End -->

          </div>
        </section>
        <!-- Card Section: End -->

      </div>
    </div>
  </div>
  <!-- About Section: End -->
  
</template>

<script>
export default {
  data() {
    return {
      activeStep: 0,
      isAnimated: true,
      isStepsClickable: false,
      labelPosition: "bottom",
      mobileMode: "minimalist",
    };
  },

  layout: "main-frame",
};
</script>
