<template>

  <!-- Contact Section: Start -->
  <div class="container -is-widescreen has-text-centered">

    <section>
      <column class="is-two-thirds has-text-left">
        <h3 class="title is-1">Contact Us</h3>
      </column>
    </section>

    <div class="columns is-8 is-variable">
        <div class="column banner has-shadow is-two-thirds has-text-left">
          <div class="banner-content">
            <p class="has-text-dark is-family-secondary">
            this is some example paragraph
            </p>
          </div>

          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
						<a href="https://instagram.com" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="https://twitter.com" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="column is-one-third has-text-left">
          <div class="field">
						<label class="label">Name</label>
						<div class="control">
							<input class="input is-medium" type="text">
						</div>
					</div>
					<div class="field">
						<label class="label">Email</label>
						<div class="control">
							<input class="input is-medium" type="text">
						</div>
					</div>
					<div class="field">
						<label class="label">Message</label>
						<div class="control">
							<textarea class="textarea is-medium"></textarea>
						</div>
					</div>
				  <div class="control">
						<button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>
					</div>
				</div>
      
    </div>
  </div>
  <!-- Contact Section: End -->
  
</template>

<script>
export default {
  layout: "main-frame",
};
</script>

