<template>


  <!-- Homepage Start -->
  <div class="columns is-multiline">

  <!-- pageloader -->
  <PageLoader />

    <!-- Banner Start -->
    <div class="column is-8 is-offset-2 banner has-shadow animate__animated animate__slideInRight">
      <div class="columns">
        <div class="banner-content">
          <transition name="router-anim" enter-active-class="animated fadeInLeft" leave-active-class="fadeOutRight">
            <p class="has-text-link is-family-secondary">
              <b class="has-text-dark">Hi! I’m </b><b class="has-text-danger">Anas Ramadhan</b><b class="has-text-dark"> I'm a</b>
              <span class="has-text-dark">></span>
              <vue-typer class="has-text-orange" :text="['Linux Enthusiast', 'Web Developer', 'Content Creator']" :repeat="Infinity" initial-action="erasing" :pre-type-delay="70" :type-delay="70" :pre-erase-delay="2000" :erase-delay="350" erase-style="select-all" :erase-on-complete="false" caret-animation="smooth"> </vue-typer>
            </p>
          </transition>
          <br />
          <p class="has-text-justified has-text-dark is-family-secondary">
            <b class="has-text-danger">Welcome</b> to my website! Here you can find some projects I've worked on, and some blogs on things that interest me. Thanks for coming!
          </p>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <div class="column is-8 is-offset-2">
      <br>
      <nav class="level">

        <!-- Media Social Links Start -->
        <div class="level-left animate__animated animate__slideInLeft">
          <div class="level-item">
            <div class="buttons">
              <a href="" target="_blank">
                <b-button type="is-transparent is-borderless" icon-left="linkedin" size="is-large"></b-button>
              </a>
              <a href="https://gitlab.com/AnasR7" target="_blank">
                <b-button type="is-transparent is-borderless" icon-left="gitlab" size="is-large"></b-button>
              </a>
              <a href="https://twitter.com/weirdwire7" target="_blank">
                <b-button type="is-transparent is-borderless" icon-left="twitter" size="is-large"></b-button>
              </a>
              <a href="">
                <b-button type="is-transparent is-borderless" icon-left="instagram" size="is-large"></b-button>
              </a>
              <a href="">
                <b-button type="is-transparent is-borderless" icon-left="discord" size="is-large"></b-button>
              </a>
              <a href="">
                <b-button type="is-transparent is-borderless" icon-left="youtube" size="is-large"></b-button>
              </a>
            </div>
          </div>
        </div>
        <!-- Media Social Links End -->

        <!-- Footer Made By Start -->
        <div class="level-right animate__animated animate__slideInUp">
          <p class="has-text-dark" style="z-index:100;">
            Made by <b-icon icon="heart" size="is-small"></b-icon>,
            <b-icon icon="nuxt" size="is-small"></b-icon>
            <a href="https://nuxtjs.org/" class="has-text-dark">NuxtJS</a> and <b-icon icon="bulma" size="is-small"></b-icon> <a href="https://buefy.org/" class="has-text-dark">Buefy</a>, by @AnasR7
          </p>
        </div>
        <!-- Footer Made By End -->

      </nav>
    </div>
  </div>
  <!-- Homepage End -->

</template>

<script>
export default {
  layout: "main-frame",
   mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 2000)
    })
  }
};
</script>
