<template>
  <div class="container -is-widescreen has-text-centered">
    <h2 class="title has-text-dark is-family-secondary has-text-centered">My Project</h2>
    <br />
    <div class="columns">
      <div class="column has-text-left">
        <b-table :data="dataProject" paginated per-page="5" detailed detail-key="no" aria-next-label="Next page" aria-previous-label="Previous page" aria-page-label="Page" aria-current-label="Current page">
          <b-table-column field="no" label="NO." width="40" numeric v-slot="props">
            {{ props.row.no }}
          </b-table-column>

          <b-table-column field="project" label="Project" sortable v-slot="props">
            <b>{{ props.row.project }}</b>
          </b-table-column>

          <b-table-column field="link" label="Link" sortable v-slot="props">
            <a class="has-text-violet" href="#">{{ props.row.link }}</a>
          </b-table-column>

          <b-table-column field="status" label="Status" width="100" sortable v-slot="props">
            {{ props.row.status }}
          </b-table-column>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const dataProject = [
      { no: 1, project: 'IncubieOS/Operation System Linux', link: 'www.google.com', status: 'Pending' },
      { no: 2, project: 'anas-ramadhan.com/CMS Personal Website', link: 'www.google.com', status: 'Abandoned' },
      { no: 3, project: 'anas-ramadhan.gitlab.com/FrontEnd Personal Website', link: 'www.google.com', status: 'Maintained' },
      { no: 4, project: 'L.O.G NVIMRC/Custom Config Vim Text Editor', link: 'www.google.com', status: 'Pending' },
      { no: 5, project: 'E-Vent/Event-Management WebApps', link: 'www.google.com', status: 'Maintained' },
    ];
    return {
      dataProject,
    };
  },
  layout: "main-frame",
};
</script>
